body {
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit, Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 0px;
}

hr {
    color: hsl(215, 32%, 27%);
    width: 100%;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card {
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    width: min-content;
    box-shadow: 0px 10px 10px 10px hsl(215.5, 44%, 9.8%);
}

.images-container {
    display: block;
    padding-bottom: 10px;
}

.image-equilibrium {
    background-image: url("images/image-equilibrium.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-icon-view {
    background-image: url("images/icon-view.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    z-index: 2;
    visibility: hidden;
}

a.images-container:hover .image-icon-view {
    visibility: visible;
}

.overlay {
    height: 200px;
    width: 200px;
    visibility: hidden;
    border-radius: 5px;
}

a.images-container:hover .overlay {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    visibility: visible;
    opacity: 0.5;
    cursor: pointer;
}

.header {
    padding-top: 5px;
    font-weight: 600;
    font-size: 15px;
}

.subheader {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 12px;
}

.details  {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.eth {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.eth-icon {
    width: 8px;
    padding-right: 5px;
}



.duration {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.clock-icon {
    width: 12px;
    padding-right: 5px;
}



.footer {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.footer-text {
    color: hsl(215, 51%, 70%);
    padding-left: 10px;
}

.avatar {
    width: 24px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 24px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 50px;
    color: hsl(215, 51%, 70%);
}

a.attribution:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}